.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
    padding: 2rem 4rem;
    
}
.search {
    font-size: 16px;
    width: 22rem;
    height: 3rem;
    margin-top: -5px;
    padding:0rem 1rem;
}

.nav-container {
    display: flex;
    padding: 2rem 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon{
    display: flex;
    background-color: white;
    background-color: aliceblue;
    padding: 4px 8px;
    align-items: center;
} 

.icon input{
    border: none;
    outline: none;
    background-color: aliceblue;

}
