.main{
    display: flex;
    background-color: rgb(241, 232, 232);
    justify-content: space-between;
    padding: 0 2rem;
}

h4{
    color: rgb(100, 98, 98);
    font-size: 20px;
    cursor: pointer;
}
.dark-icon{
display: flex;
justify-content: space-between;
align-items: center;
}