.card-details{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

}

.btn-container{
    border: 1px solid white;
    background-color: rgb(197, 192, 192);
    width: 80px;
    margin: 2rem 2rem;
    /* margin-bottom: 2rem; */
    padding: 0.5rem 1rem;
    display: flex;
    flex: 1;
    text-decoration: none;
}
.btn{
    border: none;
    font-size: 18px;
    background-color: rgb(197, 192, 192);
    
}

.card-details img{
    margin: 2rem;
    height: 300px;
}

.border{
    margin-top: 40px;
}

.two{
    padding: 4rem 6rem;
}

.one{
    padding: 2rem;
}