
.country-main {
    /* width: calc(25% - 6rem); */
    width: 400px;
    height: 400px;
    margin: 1rem;
    border: 1px solid rgb(206, 204, 204);
    text-align: left;
    
}

.country-link{
    text-decoration: none;
}
.country-main img {
    width: 100%;
    /* width: 200px; */
    height: 200px;
}

.country-main h2,
.country-main p {
    padding: 0 1rem;
}

.border-btn{
    background-color: rgb(228, 221, 221);
    font-size: 16px;
    padding: 0.75rem 1rem;
    margin: 0.5rem;
}